################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/obj/Web.csproj.EntityFrameworkCore.targets
/Web/bin/Debug/netcoreapp3.1
/Infrastructure/obj/Infrastructure.csproj.EntityFrameworkCore.targets
